@import "config.scss";

/* HOME */

.bg-img-home {
    background-image: url(../rsc/img/bg_home.jpg);
    background-size: 375%;
    background-position: 30% 55%;
    
    @media screen {
        @media (orientation: landscape) {
            background-size: 325%;

            @media (min-width: $sm) {
                background-size: 300%;
            }
            @media (min-width: $md) {
                background-size: 200%;
            }
        }
        
        @media (min-width: $md) {
            background-size: 150%;
            background-position: 30% 75%;
        }
        @media (min-width: $lg) {
            background-size: cover;
            background-position: bottom center;
        }
        @media (min-width: $xl) {
            background-position: center;
        }
    }
    
    // searchHome
    .searchHome {
        > input[type="search"] {
            width: 100%;
            height: 100%;
            left: 0;

            + button {

                + .bubble {
                    width: auto;
                    top: -600px;
                    bottom: auto;
                    left: -24px;
                    right: -24px;
                    background-color: $white;
                    opacity: 0;
                    z-index: 10;
                    @include lowBoxShadow();
                    @include transition(opacity, $basicDuration);

                    .graphicElement {
                        bottom: auto;
                        right: auto;
                        opacity: 0;
                        @include allTransition($basicDuration);
                        @include delay($basicDuration);

                        &:first-child {
                            width: 20px;
                            height: 20px;
                            top: 20px;
                            left: 48px;
                            @include lowBoxShadow-reverse();
                        }
                        &:last-child {
                            width: 40px;
                            height: 20px;
                            top: 30px;
                            left: 38px;
                            @include transform(none);
                        }
                    }

                    h3 {
                        font-size: $bigFontSize-1;
                        padding: 16px 24px;
                        color: $darkCTA;
                        text-align: left;
                        position: relative;
                        z-index: 30;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 12px;
                        text-align: left;
                        
                        @media screen {
                            @media (orientation: landscape) {
                                flex-wrap: wrap;
                                flex-direction: row;
                            }
                        }

                        li {
                            display: flex;
                            position: relative;
                            z-index: 30;

                            a {
                                display: flex;
                                font-family: 'montserratsemibold';
                                font-size: $shortFontSize-3;
                                padding: 8px 24px;
                                color: $darkCTA;
                                
                                i {
                                    width: 20px;
                                    height: 20px;
                                    background-size: contain;
                                    margin-right: 12px;
                                }
                            }
                        }
                    }
                }
            }

            &:focus {
                + button {
                    + .bubble {
                        top: 50px;
                        opacity: 1;
                        @include transition(opacity, $basicDuration);
                        
                        .graphicElement {
                            opacity: 1;
                            @include allTransition($basicDuration);
                            @include delay($basicDuration);
                            
                            &:first-child {
                                top: -10px;
                            }
                            &:last-child {
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.bg-gradient-home {
	@include gradient(90deg, rgba(1, 31, 22, .38), rgba(0, 75, 142, .38));
}

.curve-svg-home {
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    height: 52px;
    background-image: url(../rsc/svg/curve_home.svg);
    background-size: cover;
    background-position: 70% center;
    @include boxShadow(0 -3px 0 $white inset);
    
    @media screen {
        @media (orientation: landscape) {
            top: -42px;

            @media (min-width: $sm) {
                top: -55px;
                height: 77px;
            }
            @media (min-width: $md) {
                left: 15px;
                right: 15px;
            }
            @media (min-width: $lg) {
                top: -88px;
                height: 110px;
            }
            @media (min-width: $xl) {
                top: -130px;
                height: 140px;
                //left: 30px;
                //right: 30px;
            }
            @media (min-width: $xxl) {
                height: 200px;
                
            }
        }
        
        @media (orientation: portrait) {
            @media (min-width: $md) {
                top: -55px;
                height: 77px;
            }
            @media (min-width: $lg) {
                top: -88px;
                height: 110px;
                background-position: center;
            }
        }
    }
}

.bg-img-widgets-1 {
    background-image: url(../rsc/img/img_widget01.jpg);
    background-size: cover;
    background-position: center center;
}
.bg-img-widgets-2 {
    background-image: url(../rsc/img/img_widget02.jpg);
    background-size: cover;
    background-position: center center;
}
.bg-img-widgets-3 {
    background-image: url(../rsc/img/img_widget03.jpg);
    background-size: cover;
    background-position: center center;
}
.bg-img-widgets-4 {
    background-image: url(../rsc/img/img_widget04.jpg);
    background-size: cover;
    background-position: center center;
}
.bg-img-widgets-5 {
    background-image: url(../rsc/img/img_widget05.jpg);
    background-size: cover;
    background-position: center center;
}