@charset "UTF-8";
/*@mixin boxShadow($dataFrom, $dataTo) {
	-webkit-box-shadow: $dataFrom, $dataTo !important;
	-moz-box-shadow: $dataFrom, $dataTo !important;
	-ms-box-shadow: $dataFrom, $dataTo !important;
	-o-box-shadow: $dataFrom, $dataTo !important;
	box-shadow: $dataFrom, $dataTo !important;
}*/
@keyframes pulsar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*@keyframes echo-active {
	0% {
		@include boxShadow(0 0 0 rgba(255, 136, 27, 0), 0 0 0 rgba(255, 136, 27, 0));
	}
	25% {
		@include boxShadow(0 0 11px rgba(255, 136, 27, 1), 0 0 8px rgba(255, 136, 27, .5));
	}
	50% {
		@include boxShadow(0 0 22px rgba(255, 136, 27, .5), 0 0 11px rgba(255, 136, 27, .3));
	}
	100% {
		@include boxShadow(0 0 99px rgba(255, 136, 27, 0), 0 0 55px rgba(255, 136, 27, 0));
	}
}*/
@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes roll-coordinated-reverse {
  0% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
  }
  100% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(-1800deg);
    -moz-transform: rotate(-1800deg);
    -ms-transform: rotate(-1800deg);
    -o-transform: rotate(-1800deg);
    transform: rotate(-1800deg);
  }
}
/* VARIABLES */
/*- ONLY FOR THIS PROJECT -*/
/*- END | ONLY FOR THIS PROJECT -*/
/*56pt / 84px*/
/*28pt / 37px*/
/*22pt / 30px*/
/*
$shortFontSize-1: .875rem;
$shortFontSize-2: .75rem;
$shortFontSize-3: .688rem;
*/
/* --------------------------- */
/* MIXINS */
/*@mixin highestBoxShadow() {
	@include boxShadow(0 19px 38px rgba($darkestGrey, $alpha30), 0 15px 12px rgba($darkestGrey, .22));
}
*/
/*
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin higherBoxShadow-45() {
	@include boxShadow(14px 14px 28px rgba($darkestGrey, .25), 10px 10px 10px rgba($darkestGrey, .22));
}
@mixin higherBoxShadow-315() {
	@include boxShadow(-14px 14px 28px rgba($darkestGrey, .25), -10px 10px 10px rgba($darkestGrey, .22));
}*/
/*@mixin highBoxShadow() {
	@include boxShadow(0 1rem 3rem rgba(0, 0, 0, .175), 0 1rem 3rem rgba(0, 0, 0, .175));
}

@mixin basicBoxShadow() {
	@include boxShadow(0 .5rem 1rem rgba(0, 0, 0, .15), 0 .5rem 1rem rgba(0, 0, 0, .15));
}

@mixin lowestBoxShadow() {
	@include boxShadow(0 .125rem .25rem rgba(0, 0, 0, .075), 0 .125rem .25rem rgba(0, 0, 0, .075));
}
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin lowestBoxShadow-45() {
	@include boxShadow(.125rem .125rem .25rem rgba(0, 0, 0, .075), .125rem .125rem .25rem rgba(0, 0, 0, .075));
}
@mixin lowestBoxShadow-315() {
	@include boxShadow(-.125rem .125rem .25rem rgba(0, 0, 0, .075), -.125rem .125rem .25rem rgba(0, 0, 0, .075));
}*/
/*@mixin lowestBoxShadow-inset() {
	@include boxInset(0 -1px 3px rgba($darkestGrey, .12), 0 -1px 2px rgba($darkestGrey, .24));
}
*/
/* EXTENDS */
/* HOME */
.bg-img-home {
  background-image: url(../rsc/img/bg_home.jpg);
  background-size: 375%;
  background-position: 30% 55%;
}
@media screen and (orientation: landscape) {
  .bg-img-home {
    background-size: 325%;
  }
}
@media screen and (orientation: landscape) and (min-width: 576px) {
  .bg-img-home {
    background-size: 300%;
  }
}
@media screen and (orientation: landscape) and (min-width: 768px) {
  .bg-img-home {
    background-size: 200%;
  }
}
@media screen and (min-width: 768px) {
  .bg-img-home {
    background-size: 150%;
    background-position: 30% 75%;
  }
}
@media screen and (min-width: 992px) {
  .bg-img-home {
    background-size: cover;
    background-position: bottom center;
  }
}
@media screen and (min-width: 1200px) {
  .bg-img-home {
    background-position: center;
  }
}
.bg-img-home .searchHome > input[type=search] {
  width: 100%;
  height: 100%;
  left: 0;
}
.bg-img-home .searchHome > input[type=search] + button + .bubble {
  width: auto;
  top: -600px;
  bottom: auto;
  left: -24px;
  right: -24px;
  background-color: white;
  opacity: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  -moz-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  -ms-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  -o-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.bg-img-home .searchHome > input[type=search] + button + .bubble .graphicElement {
  bottom: auto;
  right: auto;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.bg-img-home .searchHome > input[type=search] + button + .bubble .graphicElement:first-child {
  width: 20px;
  height: 20px;
  top: 20px;
  left: 48px;
  -webkit-box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  -moz-box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  -ms-box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  -o-box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.125) !important;
}
.bg-img-home .searchHome > input[type=search] + button + .bubble .graphicElement:last-child {
  width: 40px;
  height: 20px;
  top: 30px;
  left: 38px;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.bg-img-home .searchHome > input[type=search] + button + .bubble h3 {
  font-size: 1.25rem;
  padding: 16px 24px;
  color: #487f89;
  text-align: left;
  position: relative;
  z-index: 30;
}
.bg-img-home .searchHome > input[type=search] + button + .bubble ul {
  display: flex;
  flex-direction: column;
  padding: 0 0 12px;
  text-align: left;
}
@media screen and (orientation: landscape) {
  .bg-img-home .searchHome > input[type=search] + button + .bubble ul {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.bg-img-home .searchHome > input[type=search] + button + .bubble ul li {
  display: flex;
  position: relative;
  z-index: 30;
}
.bg-img-home .searchHome > input[type=search] + button + .bubble ul li a {
  display: flex;
  font-family: "montserratsemibold";
  font-size: 0.875rem;
  padding: 8px 24px;
  color: #487f89;
}
.bg-img-home .searchHome > input[type=search] + button + .bubble ul li a i {
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-right: 12px;
}
.bg-img-home .searchHome > input[type=search]:focus + button + .bubble {
  top: 50px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.bg-img-home .searchHome > input[type=search]:focus + button + .bubble .graphicElement {
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.bg-img-home .searchHome > input[type=search]:focus + button + .bubble .graphicElement:first-child {
  top: -10px;
}
.bg-img-home .searchHome > input[type=search]:focus + button + .bubble .graphicElement:last-child {
  top: 0;
}

.bg-gradient-home {
  background: -webkit-linear-gradient(90deg, rgba(1, 31, 22, 0.38), rgba(0, 75, 142, 0.38)) !important;
  background: -moz-linear-gradient(90deg, rgba(1, 31, 22, 0.38), rgba(0, 75, 142, 0.38)) !important;
  background: -ms-linear-gradient(90deg, rgba(1, 31, 22, 0.38), rgba(0, 75, 142, 0.38)) !important;
  background: -o-linear-gradient(90deg, rgba(1, 31, 22, 0.38), rgba(0, 75, 142, 0.38)) !important;
  background: linear-gradient(90deg, rgba(1, 31, 22, 0.38), rgba(0, 75, 142, 0.38)) !important;
}

.curve-svg-home {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  height: 52px;
  background-image: url(../rsc/svg/curve_home.svg);
  background-size: cover;
  background-position: 70% center;
  -webkit-box-shadow: 0 -3px 0 white inset !important;
  -moz-box-shadow: 0 -3px 0 white inset !important;
  -ms-box-shadow: 0 -3px 0 white inset !important;
  -o-box-shadow: 0 -3px 0 white inset !important;
  box-shadow: 0 -3px 0 white inset !important;
}
@media screen and (orientation: landscape) {
  .curve-svg-home {
    top: -42px;
  }
}
@media screen and (orientation: landscape) and (min-width: 576px) {
  .curve-svg-home {
    top: -55px;
    height: 77px;
  }
}
@media screen and (orientation: landscape) and (min-width: 768px) {
  .curve-svg-home {
    left: 15px;
    right: 15px;
  }
}
@media screen and (orientation: landscape) and (min-width: 992px) {
  .curve-svg-home {
    top: -88px;
    height: 110px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1200px) {
  .curve-svg-home {
    top: -130px;
    height: 140px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1440px) {
  .curve-svg-home {
    height: 200px;
  }
}
@media screen and (orientation: portrait) and (min-width: 768px) {
  .curve-svg-home {
    top: -55px;
    height: 77px;
  }
}
@media screen and (orientation: portrait) and (min-width: 992px) {
  .curve-svg-home {
    top: -88px;
    height: 110px;
    background-position: center;
  }
}

.bg-img-widgets-1 {
  background-image: url(../rsc/img/img_widget01.jpg);
  background-size: cover;
  background-position: center center;
}

.bg-img-widgets-2 {
  background-image: url(../rsc/img/img_widget02.jpg);
  background-size: cover;
  background-position: center center;
}

.bg-img-widgets-3 {
  background-image: url(../rsc/img/img_widget03.jpg);
  background-size: cover;
  background-position: center center;
}

.bg-img-widgets-4 {
  background-image: url(../rsc/img/img_widget04.jpg);
  background-size: cover;
  background-position: center center;
}

.bg-img-widgets-5 {
  background-image: url(../rsc/img/img_widget05.jpg);
  background-size: cover;
  background-position: center center;
}

/*# sourceMappingURL=home.css.map */
