@charset "UTF-8";
/*@mixin boxShadow($dataFrom, $dataTo) {
	-webkit-box-shadow: $dataFrom, $dataTo !important;
	-moz-box-shadow: $dataFrom, $dataTo !important;
	-ms-box-shadow: $dataFrom, $dataTo !important;
	-o-box-shadow: $dataFrom, $dataTo !important;
	box-shadow: $dataFrom, $dataTo !important;
}*/
@keyframes pulsar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*@keyframes echo-active {
	0% {
		@include boxShadow(0 0 0 rgba(255, 136, 27, 0), 0 0 0 rgba(255, 136, 27, 0));
	}
	25% {
		@include boxShadow(0 0 11px rgba(255, 136, 27, 1), 0 0 8px rgba(255, 136, 27, .5));
	}
	50% {
		@include boxShadow(0 0 22px rgba(255, 136, 27, .5), 0 0 11px rgba(255, 136, 27, .3));
	}
	100% {
		@include boxShadow(0 0 99px rgba(255, 136, 27, 0), 0 0 55px rgba(255, 136, 27, 0));
	}
}*/
@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes roll-coordinated-reverse {
  0% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
  }
  100% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(-1800deg);
    -moz-transform: rotate(-1800deg);
    -ms-transform: rotate(-1800deg);
    -o-transform: rotate(-1800deg);
    transform: rotate(-1800deg);
  }
}
/* VARIABLES */
/*- ONLY FOR THIS PROJECT -*/
/*- END | ONLY FOR THIS PROJECT -*/
/*56pt / 84px*/
/*28pt / 37px*/
/*22pt / 30px*/
/*
$shortFontSize-1: .875rem;
$shortFontSize-2: .75rem;
$shortFontSize-3: .688rem;
*/
/* --------------------------- */
/* MIXINS */
/*@mixin highestBoxShadow() {
	@include boxShadow(0 19px 38px rgba($darkestGrey, $alpha30), 0 15px 12px rgba($darkestGrey, .22));
}
*/
/*
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin higherBoxShadow-45() {
	@include boxShadow(14px 14px 28px rgba($darkestGrey, .25), 10px 10px 10px rgba($darkestGrey, .22));
}
@mixin higherBoxShadow-315() {
	@include boxShadow(-14px 14px 28px rgba($darkestGrey, .25), -10px 10px 10px rgba($darkestGrey, .22));
}*/
/*@mixin highBoxShadow() {
	@include boxShadow(0 1rem 3rem rgba(0, 0, 0, .175), 0 1rem 3rem rgba(0, 0, 0, .175));
}

@mixin basicBoxShadow() {
	@include boxShadow(0 .5rem 1rem rgba(0, 0, 0, .15), 0 .5rem 1rem rgba(0, 0, 0, .15));
}

@mixin lowestBoxShadow() {
	@include boxShadow(0 .125rem .25rem rgba(0, 0, 0, .075), 0 .125rem .25rem rgba(0, 0, 0, .075));
}
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin lowestBoxShadow-45() {
	@include boxShadow(.125rem .125rem .25rem rgba(0, 0, 0, .075), .125rem .125rem .25rem rgba(0, 0, 0, .075));
}
@mixin lowestBoxShadow-315() {
	@include boxShadow(-.125rem .125rem .25rem rgba(0, 0, 0, .075), -.125rem .125rem .25rem rgba(0, 0, 0, .075));
}*/
/*@mixin lowestBoxShadow-inset() {
	@include boxInset(0 -1px 3px rgba($darkestGrey, .12), 0 -1px 2px rgba($darkestGrey, .24));
}
*/
/* EXTENDS */
/* ICON */
.icon_custom i {
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.icon_custom i.i-bg-white {
  background-color: white;
}
.icon_custom i.i-map {
  background-image: url(../../rsc/svg/icon_map_primary.svg);
}
.icon_custom i.i-envelope {
  background-image: url(../../rsc/svg/icon_envelope_primary.svg);
}
.icon_custom i.i-leaf {
  background-image: url(../../rsc/svg/icon_leaf_primary.svg);
}
.icon_custom i.i-traffic-cone {
  background-image: url(../../rsc/svg/icon_trafficcone_primary.svg);
}
.icon_custom i.i-handshake {
  background-image: url(../../rsc/svg/icon_handshake_primary.svg);
}
.icon_custom i.i-swimmer {
  background-image: url(../../rsc/svg/icon_swimmer_primary.svg);
}
.icon_custom i.i-beach-ball {
  background-image: url(../../rsc/svg/icon_beachball_primary.svg);
}
.icon_custom i.i-angle-left {
  background-image: url(../../rsc/svg/icon_angleleft_primary.svg);
}
.icon_custom i.i-times {
  background-image: url(../../rsc/svg/icon_times_primary.svg);
}
.icon_custom i.i-shirt {
  background-image: url(../../rsc/svg/icon_shirt_primary.svg);
}
.icon_custom i.i-medical {
  background-image: url(../../rsc/svg/icon_medical_primary.svg);
}
.icon_custom i.i-trash {
  background-image: url(../../rsc/svg/icon_trash_primary.svg);
}
.icon_custom i.i-martini-glass {
  background-image: url(../../rsc/svg/icon_martiniglass_primary.svg);
}
.icon_custom i.i-cart {
  background-image: url(../../rsc/svg/icon_cart_primary.svg);
}
.icon_custom i.i-flatware {
  background-image: url(../../rsc/svg/icon_flatware_primary.svg);
}
.icon_custom i.i-water-drop {
  background-image: url(../../rsc/svg/icon_waterdrop_primary.svg);
}
.icon_custom i.i-umbrella {
  background-image: url(../../rsc/svg/icon_umbrella_primary.svg);
}
.icon_custom i.i-disk {
  background-image: url(../../rsc/svg/icon_disk_primary.svg);
}
.icon_custom i.i-book {
  background-image: url(../../rsc/svg/icon_book_primary.svg);
}
.icon_custom i.i-dark-primary.i-search {
  background-image: url(../../rsc/svg/icon_search_darkprimary.svg);
}
.icon_custom i.i-dark-primary.i-angle-left {
  background-image: url(../../rsc/svg/icon_angleleft_darkprimary.svg);
}
.icon_custom i.i-dark-primary.i-angle-right {
  background-image: url(../../rsc/svg/icon_angleright_darkprimary.svg);
}
.icon_custom i.i-dark-primary.i-bars {
  background-image: url(../../rsc/svg/icon_bars_darkprimary.svg);
}
.icon_custom i.i-white.i-angle-right {
  background-image: url(../../rsc/svg/icon_angleright_white.svg);
}
.icon_custom i.i-white.i-times {
  background-image: url(../../rsc/svg/icon_times_white.svg);
}
.icon_custom i.i-bg-color-transition {
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.icon_custom:hover i.i-bg-hover-primary {
  background-color: #4ae0c7;
}
.icon_custom:hover i.i-hover-white.i-map {
  background-image: url(../../rsc/svg/icon_map_white.svg);
}
.icon_custom:hover i.i-hover-white.i-envelope {
  background-image: url(../../rsc/svg/icon_envelope_white.svg);
}
.icon_custom:hover i.i-hover-white.i-leaf {
  background-image: url(../../rsc/svg/icon_leaf_white.svg);
}
.icon_custom:hover i.i-hover-white.i-traffic-cone {
  background-image: url(../../rsc/svg/icon_trafficcone_white.svg);
}
.icon_custom:hover i.i-hover-white.i-handshake {
  background-image: url(../../rsc/svg/icon_handshake_white.svg);
}
.icon_custom:hover i.i-hover-white.i-swimmer {
  background-image: url(../../rsc/svg/icon_swimmer_white.svg);
}
.icon_custom:hover i.i-hover-white.i-beach-ball {
  background-image: url(../../rsc/svg/icon_beachball_white.svg);
}
.icon_custom:hover i.i-bg-color-transition {
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.icon_nav {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center center;
}
.icon_nav.i-home {
  background-image: url(../../rsc/svg/icon_home_white.svg);
}
.icon_nav.i-search {
  background-image: url(../../rsc/svg/icon_search_white.svg);
}
@media screen and (min-width: 1200px) {
  .icon_nav.i-search {
    background-image: url(../../rsc/svg/icon_search_darkprimary.svg);
  }
  .icon_nav.i-search.i-white {
    background-image: url(../../rsc/svg/icon_search_white.svg);
  }
}
.icon_nav.i-bars {
  height: 10px;
  background-image: url(../../rsc/svg/icon_bars_white.svg);
}
.icon_nav.i-clock {
  background-image: url(../../rsc/svg/icon_clock_white.svg);
}
.icon_nav.i-plus {
  width: 18px;
  height: 18px;
  background-image: url(../../rsc/svg/icon_plus_white.svg);
}

.icon {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -ms-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  /*
  &.active {
  	background-color: $active;

  	i {
  		color: $white;
  		@include boxInset(-12px 0 33px rgba($active, $alpha0));
  	}

  	&:hover {
  		background-color: $lightActive;

  		i {
  			color: $white;
  			@include boxInset(-12px 0 33px $active);
  		}
  	}
  }
     */
  /*
  &.reverse {
  	background-color: $CTA;

  	i {
  		color: $white;
  		@include boxInset(-12px 0 33px rgba($darkCTA, $alpha0));
  	}

  	&:hover {
  		background-color: $lightCTA;

  		i {
  			color: $white;
  			@include boxInset(-12px 0 33px $darkCTA);
  		}
  	}
  }
     */
  /*
  &:hover {
  	background-color: $lightCTA;
  	@include higherBoxShadow();
  	@include allTransition($basicDuration);

  	i {
  		color: $white;
  		@include buttonInsetHover();
  		@include allTransition($basicDuration);
  	}
  }
     */
}
.icon i {
  width: 28px;
  height: 28px;
  padding: 6px 0;
  font-size: 1rem;
  color: #4ae0c7;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.icon i.fa-angle-up, .icon i.fa-angle-down, .icon i.fa-angle-left, .icon i.fa-angle-right {
  font-size: 1.5rem;
  line-height: 1rem;
}
.icon.green i {
  color: #16ba99;
  -webkit-box-shadow: -12px 0 33px rgba(22, 186, 153, 0) inset !important;
  -moz-box-shadow: -12px 0 33px rgba(22, 186, 153, 0) inset !important;
  -ms-box-shadow: -12px 0 33px rgba(22, 186, 153, 0) inset !important;
  -o-box-shadow: -12px 0 33px rgba(22, 186, 153, 0) inset !important;
  box-shadow: -12px 0 33px rgba(22, 186, 153, 0) inset !important;
}
.icon.green:hover {
  background-color: #14be78;
}
.icon.green:hover i {
  color: white;
  -webkit-box-shadow: -12px 0 33px #16ba99 inset !important;
  -moz-box-shadow: -12px 0 33px #16ba99 inset !important;
  -ms-box-shadow: -12px 0 33px #16ba99 inset !important;
  -o-box-shadow: -12px 0 33px #16ba99 inset !important;
  box-shadow: -12px 0 33px #16ba99 inset !important;
}
.icon.red i {
  color: #dc3737;
  -webkit-box-shadow: -12px 0 33px rgba(222, 44, 1, 0) inset !important;
  -moz-box-shadow: -12px 0 33px rgba(222, 44, 1, 0) inset !important;
  -ms-box-shadow: -12px 0 33px rgba(222, 44, 1, 0) inset !important;
  -o-box-shadow: -12px 0 33px rgba(222, 44, 1, 0) inset !important;
  box-shadow: -12px 0 33px rgba(222, 44, 1, 0) inset !important;
}
.icon.red:hover {
  background-color: #dc3737;
}
.icon.red:hover i {
  color: white;
  -webkit-box-shadow: -12px 0 33px #de2c01 inset !important;
  -moz-box-shadow: -12px 0 33px #de2c01 inset !important;
  -ms-box-shadow: -12px 0 33px #de2c01 inset !important;
  -o-box-shadow: -12px 0 33px #de2c01 inset !important;
  box-shadow: -12px 0 33px #de2c01 inset !important;
}
.icon.circle {
  border-radius: 50%;
}
.icon.disabled {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(5, 0, 50, 0.1);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
.icon.disabled i {
  color: rgba(5, 0, 50, 0.1);
}
.icon.disabled:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(5, 0, 50, 0.1);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
.icon.disabled:hover i {
  color: rgba(5, 0, 50, 0.1);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

/*# sourceMappingURL=icons.css.map */
