@import '../config.scss';

/* OBJECTS */

// .object-alert
.object-alert {
    position: fixed;
  /*  top: auto;*/
    top: 120px;
    left: 12px;
    right: 12px;
    max-width: 660px;
    margin: auto;
    z-index: 10;

    @media screen {
        @media (orientation: landscape) {
            bottom: 12px;
            left: 54px;
            right: 12px;
        }

        @media (min-width: $md) {
            bottom: auto;
            max-width: 550px;
        }

        @media (min-width: $lg) {
            max-width: 660px;
        }

        @media (min-width: $xl) {
            left: 40px;
            right: 40px;
        }
    }

    > div {
        display: flex;
        align-items: flex-start;
        padding: 24px;
        background-color: $white;
        @include border(0 0 4px 0, $basicRed);
        @include basicBoxShadow();

        div {
            flex-grow: 1;
            padding-right: 30px;

            h3 {
                text-transform: uppercase;
                color: $basicRed;
            }

            p {
                padding-top: 16px;
            }
        }

        a {
            i {
                font-size: $bigFontSize-1;
                color: $basicRed;
                @include colorTransition($basicDuration);
            }

            &:hover {
                i {
                    color: $darkRed;
                    @include colorTransition($basicDuration);
                }
            }
        }
    }
}

// .object-schedule
.object-schedule {
    display: block;
    //width: 100%;
    overflow-x: auto;
    padding-left: 12px;

    @media screen {
        @media (min-width: $xl) {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            overflow: initial;
            padding-left: 0;
            margin-left: -12px
        }
    }

    tr {
        display: flex;
        align-items: center;

        th {
            font-size: $shortFontSize-1;
            color: $darkCTA;
            padding: 17px 12px 16px;
            white-space: nowrap;
            @include border(1px 1px 0 0, $lighterGrey);

            &:last-child {
                margin-right: 24px;

                @media screen {
                    @media (min-width: $xl) {
                        margin-right: 0;
                    }
                }
            }
        }

        td {
            display: flex;
            padding: 0;
            @include border(1px 1px 0 0, $lighterGrey);

            &:first-child {
                font-size: $shortFontSize-1;
                color: $darkCTA;
                padding: 18px 12px 17px;
            }
            &:last-child {
                margin-right: 24px;

                @media screen {
                    @media (min-width: $xl) {
                        margin-right: 0;
                    }
                }
            }

            i {
                display: block;
                height: 48px;
                padding: 0;
                @include insetBorder(0 1px 0 0, rgba($lighterGrey, .45));
            }
        }

        &:last-child {
            td {
                border-width: 1px 1px 1px 0;
            }
        }
    }
}

.osc-c-1,
.osc-c-b1 {
    background-color: $CTA;
    border-color: $CTA !important;
}
.osc-c-2 {
    background-color: rgb(235, 185, 66);
    border-color: rgb(235, 185, 66) !important;
}
.osc-c-3 {
    background-color: rgb(207, 99, 55);
    border-color: rgb(207, 99, 55) !important;
}

// .object-headtail
.object-headtail {
    margin: 0 -24px;
    text-align: center;

    @media screen {
        @media (min-width: $xl) {
            margin: 0;
        }
    }

    input[type="radio"] {
        width: calc(50% - 24px);
        height: 36px;
        left: 0;
        margin-left: 24px;
        border: none;

        @media screen {
            @media (min-width: $lg) {
                width: 193px;
                height: 28px;
                margin: 0 24px;
                left: auto;
            }
        }

        + a {
            display: inline-block;
            font-family: 'montserratsemibold';
            width: calc(50% - 24px);
            height: 36px;
            margin-right: 0;
            padding: 11px 12px;
            color: $darkCTA;
            font-size: $shortFontSize-2;

            @media screen {
                @media (min-width: $lg) {
                    width: auto;
                    height: 28px;
                    margin: 0 24px;
                    padding: 0;
                    color: $darkCTA;
                    font-size: $shortFontSize-1;
                    @include boxShadow(0 0 0 $CTA inset);
                    @include transition(box-shadow, $basicDuration);
                }
            }

            + input[type="radio"] {
                margin-left: 0;
                margin-right: 24px;
                left: auto;
                right: 0;

                @media screen {
                    @media (min-width: $lg) {
                        width: 183px;
                        margin: 0 24px;
                        right: auto;
                    }
                }
            }
        }

        &:hover,
        &:checked {
            + a {
                color: $white;
                background-color: $darkCTA;

                @media screen {
                    @media (min-width: $lg) {
                        color: $darkCTA;
                        background-color: initial;
                        @include boxShadow(0 -4px 0 $CTA inset);
                        @include transition(box-shadow, $basicDuration);
                    }
                }
            }
        }

        &[value="head"] {
            &:checked {
                + a {
                    + input {
                        + a {
                            + div {
                                .object-schedule {
                                    margin-top: 26px;

                                    .osc-c-b1 {
                                        background-color: initial;
                                        border-color: rgba($lighterGrey, .45) !important;
                                    }

                                    .osc-c-1 {
                                        background-color: $CTA;
                                        border-color: $CTA !important;
                                    }
                                    .osc-c-2 {
                                        background-color: rgb(235, 185, 66);
                                        border-color: rgb(235, 185, 66) !important;
                                    }
                                    .osc-c-3 {
                                        background-color: rgb(207, 99, 55);
                                        border-color: rgb(207, 99, 55) !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &[value="tail"] {
            &:checked {
                + a {
                    + div {
                        ul {
                            display: none;
                        }

                        .object-schedule {
                            margin-top: 48px;

                            .osc-c-1,
                            .osc-c-2,
                            .osc-c-3 {
                                background-color: initial;
                                border-color: rgba($lighterGrey, .45) !important;
                            }

                            .osc-c-b1 {
                                background-color: $CTA;
                                border-color: $CTA !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

// .object-share
.object-share {
    display: flex;
    justify-content: flex-end;

    @media screen {
        @media (min-width: $lg) {
            justify-content: flex-start;
        }
    }

    a {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        padding: 4px;
        text-align: center;
        margin-left: 12px;
        background-color: $darkCTA;
        @include transition(background-color, $basicDuration);

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            background-color: $CTA;
            @include transition(background-color, $basicDuration);
        }

        i {
            color: $white;
        }
    }
}

// .object-tags
.object-tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -4px;

    li {
        display: flex;
        padding: 0 4px 8px;

        &.active {

            a {
                color: $white;
                background-color: $darkCTA;
            }
        }

        a {
            padding: 4px 8px;
            text-align: center;
            color: $darkCTA;
            font-size: $shortFontSize-2;
            @include border(1px, $darkCTA);
            @include allTransition($basicDuration);

            @media screen {
                @media (min-width: $lg) {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }

            &:hover {
                color: $white;
                background-color: $darkCTA;
                @include allTransition($basicDuration);
            }
        }
    }
}

// .object-recom
.object-recom {
    a {
        display: flex;
        overflow: hidden;
        @include border(1px, rgba($darkGrey, $alpha10));
        @include lowBoxShadow();

        i {
            width: 104px;
            min-height: 104px;
            padding: 0;
            position: relative;

            b {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba($CTA, $alpha0);
                @include transition(background-color, $basicDuration);
            }
        }

        div {
            min-height: 104px;
            padding: 18px 14px 18px 28px;
            text-align: left;
            line-height: 0;

            h5 {
                font-family: 'montserratsemibold';
                font-size: $shortFontSize-2;
                line-height: 125%;
                color: $darkCTA;
                @include colorTransition($basicDuration);
            }

            span {
                display: block;
                font-family: 'montserratsemibold';
                font-size: $shortFontSize-3;
                line-height: 150%;
                padding-top: 8px;
            }
        }
    }
}

// .object-text-dyn
.object-text-dyn {
    position: relative;

    input[type="checkbox"] {
        width: 60px;
        height: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        z-index: 20;

        @media screen {
            @media (min-width: $md) {
                right: 15px;
            }
            @media (min-width: $lg) {
                right: 0;
            }
            @media (min-width: $xxxl) {
                display: none;
            }
        }

        &:checked {
            + div {
                @include boxShadow(0 0 12px rgba($white, 0));
                @include transition(box-shadow, $basicDuration);

                span {
                    &.more {
                        display: none;
                    }
                    &.less {
                        display: none;
                    }
                }

                + div {
                    max-height: 9999px;
                    padding-bottom: 24px;
                    @include allTransition($basicDuration);
                }
            }
        }

        + div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            padding-right: 4px;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
            background-color: $white;
            @include boxShadow(0 -12px 12px $white);
            @include transition(box-shadow, $basicDuration);

            @media screen {
                @media (min-width: $md) {
                    width: auto;
                    left: 0;
                    right: 15px;
                }
                @media (min-width: $lg) {
                    right: 0;
                }
                @media (min-width: $xxxl) {
                    display: none;
                }
            }

            span {
                font-family: 'montserratsemibold';
                font-size: $shortFontSize-2;
                color: $CTA;
                padding-bottom: 4px;
                @include border(0 0 1px 0, $CTA);
                @include transition(border, $basicDuration);

                &.less {
                    display: none;
                }
            }

            + div {
                color: $darkCTA;
                max-height: 9999px;

                padding-bottom: 24px;
                @include allTransition($basicDuration);

                @media screen {
                    @media (orientation: landscape) {
                        @media (min-width: $sm) {
                            max-height: 9999px;
                        }
                    }

                    @media (min-width: $lg) {
                        max-height: 9999px;
                    }
                    @media (min-width: $xl) {
                        max-height: 9999px;
                    }
                    @media (min-width: $xxl) {
                        max-height: 9999px;
                    }
                    @media (min-width: $xxxl) {
                        max-height: 9999px;
                    }
                }

                p {
                    padding-top: 24px;
                    font-size: $shortFontSize-2;
                    line-height: 200%;
                }

                ul {
                    li {
                        font-size: $shortFontSize-2;
                        line-height: 200%;
                    }
                }
            }
        }
    }

}

// .object-card
.object-cardsList {
    @media screen {
        @media (min-width: $md) {
            width: calc(100% + 8px);
        }
        @media (min-width: $lg) {
            width: calc(100% + 16px);
        }
    }
}
.object-card {
    padding-left: 0;
    padding-right: 0;

    a {
        display: flex;
        border: 1px solid;
        border-color: rgba($darkGrey, $alpha10);
        overflow: hidden;
        @include lowBoxShadow();

        @media screen {
            @media (min-width: $lg) {
                flex-direction: column;
            }
        }

        &.bg-img {
            i {
                width: 104px;
                min-height: 103px;
                padding: 0;
                position: relative;
                display: flex;
                @include allTransition($basicDuration);

                @media screen {
                    @media (min-width: $lg) {
                        width: 100%;
                        min-height: 136px;
                    }
                }
            }
        }

        > div {
            display: flex;
            justify-content: center;

            h3 {
                overflow: hidden;
                line-height: 125%;
                color: $darkCTA;
                font-size: $shortFontSize-2;
            }

            p {
                display: none;
                height: 72px;
                padding-top: 8px;
                overflow: hidden;
                color: $darkGrey;
                font-size: $shortFontSize-3;

                @media screen {
                    @media (min-width: $lg) {
                        display: inline-block;
                    }
                    @media (min-width: $xl) {
                        height: 56px;
                    }
                }
            }

            span {
                display: block;
                font-family: 'montserratsemibold';
            }

            small {
                display: block;
                padding: 8px 0 0;
                line-height: 100%;
                font-size: $shortFontSize-3;
            }
        }
    }

    &.oc-new {
        a {
            > div {
                flex-direction: column;

                h3 {
                    max-height: 45px;
                    @include colorTransition($basicDuration);

                    @media screen {
                        @media (min-width: $lg) {
                            height: 30px;
                        }
                    }
                }

                span {
                    padding-top: 8px;
                    line-height: 150%;
                    font-size: $shortFontSize-3;
                }
            }

            &:hover {
                > div {
                    h3 {
                        color: $CTA;
                        @include colorTransition($basicDuration);
                    }
                }
            }
        }
    }

    &.oc-event {
        a {

            &.bg-img {
                i {
                    display: none;

                    @media screen {
                        @media (min-width: $lg) {
                            display: flex;
                        }
                    }
                }
            }

            > div {
                width: 100%;
                min-height: 90px;

                > div {
                    padding-top: 11px;
                    padding-bottom: 11px;
                    color: $darkCTA;

                    @media screen {
                        @media (min-width: $lg) {
                            padding-top: 24px;
                            padding-bottom: 24px;
                        }
                    }

                    &:first-child {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        border-right: 1px solid;
                        border-color: rgba($darkGrey, $alpha10);
                        @include colorTransition($basicDuration);
;                   }
                    &:last-child {
                        align-self: center;
                        padding-left: 28px;
                        padding-right: 14px;

                        @media screen {
                            @media (min-width: $lg) {
                                padding-left: 16px;
                                padding-right: 16px;
                            }
                        }
                    }

                    h3 {
                        max-height: 30px;
                    }

                    span {
                        line-height: 100%;
                        padding: 4px 0;
                        font-size: $basicFontSize;

                        @media screen {
                            @media (min-width: $lg) {
                                padding: 8px 0;
                            }
                        }

                        &:first-child {
                            padding: 0;
                            font-size: $bigFontSize-1;
                        }

                        &:last-child {
                            padding: 0;
                            font-size: $shortFontSize-2;
                        }
                    }
                }
            }

            &:hover {
                > div {
                    > div {
                        &:first-child {
                            color: $CTA;
                            @include colorTransition($basicDuration);
                        }
                    }
                }
            }
        }
    }
}

// TODO JF: Voir pour adapter en fonction des branchements

.bg-img-news-1 {
    background-image: url(../../rsc/img/img_news01.jpg);
    background-size: cover;
    background-position: center center;
}
.bg-img-news-2 {
    background-image: url(../../rsc/img/img_news02.jpg);
    background-size: cover;
    background-position: center center;
}
.bg-img-news-3 {
    background-image: url(../../rsc/img/img_news03.jpg);
    background-size: cover;
    background-position: center center;
}
.bg-img-news-4 {
    background-image: url(../../rsc/img/img_news04.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-news-5 {
    background-image: url(../../rsc/img/img_news05.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-news-6 {
    background-image: url(../../rsc/img/img_news06.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-news-7 {
    background-image: url(../../rsc/img/img_news07.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-news-8 {
    background-image: url(../../rsc/img/img_news08.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-news-9 {
    background-image: url(../../rsc/img/img_news09.png);
    background-size: cover;
    background-position: center center;
}

.bg-img-event-1 {
    background-image: url(../../rsc/img/img_events01.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-event-2 {
    background-image: url(../../rsc/img/img_events02.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-event-3 {
    background-image: url(../../rsc/img/img_events03.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-event-4 {
    background-image: url(../../rsc/img/img_events04.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-event-5 {
    background-image: url(../../rsc/img/img_events05.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-event-6 {
    background-image: url(../../rsc/img/img_events06.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-event-7 {
    background-image: url(../../rsc/img/img_events07.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-event-8 {
    background-image: url(../../rsc/img/img_events08.png);
    background-size: cover;
    background-position: center center;
}
.bg-img-event-9 {
    background-image: url(../../rsc/img/img_events09.png);
    background-size: cover;
    background-position: center center;
}

.bg-img-directory-1 {
    background-image: url(../../rsc/img/img_directory01.png);
    background-size: cover;
    background-position: center center;
}

.color-cat-adm {
    color: $c-adm;
}
.color-cat-cit {
    color: $c-cit;
}
.color-cat-cul {
    color: $c-cul;
}
.color-cat-eco {
    color: $c-eco;
}
.color-cat-enf {
    color: $c-enf;
}
.color-cat-san {
    color: $c-san;
}
.color-cat-soc {
    color: $c-soc;
}
.color-cat-spo {
    color: $c-spo;
}
.color-cat-tou {
    color: $c-tou;
}

// FILTRED

.filtred {

    &:hover {
        .filter-hover-grey-0 {
            filter: grayscale(0);
        }
    }
}

// THUMBNAIL

.thumbnail {

    // transition
    .t-transition-all,
    &.t-transition-all {
        @include allTransition($basicDuration);
    }
    .t-transition-color,
    &.t-transition-color {
        @include colorTransition($basicDuration);
    }
    .t-transition-border-color,
    &.t-transition-border-color {
        @include transition(border-color, $basicDuration);
    }

    &:hover {

        // bgcolor
        .t-bgcolor-hover-primary,
        &.t-bgcolor-hover-primary {
            background-color: $CTA !important;
        }

        // color
        .t-color-hover-white,
        &.t-color-hover-white {
            color: $white !important;
        }

        // border-color
        .t-border-hover-white,
        &.t-border-hover-white {
            border-color: $white !important;
        }
        .t-border-hover-primary,
        &.t-border-hover-primary {
            border-color: $CTA !important;
        }

        // transition
        .t-transition-all,
        &.t-transition-all {
            @include allTransition($basicDuration);
        }
        .t-transition-color,
        &.t-transition-color {
            @include colorTransition($basicDuration);
        }
        .t-transition-border-color,
        &.t-transition-border-color {
            @include transition(border-color, $basicDuration);
        }
    }
}

// BG-IMG

.bg-img {

    // bf-blur
    .bg-img-bf-blur {
        -webkit-backdrop-filter: blur(2px);
        -moz-backdrop-filter: blur(2px);
        -ms-backdrop-filter: blur(2px);
        -o-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);

        // -webkit- et autres à checker
    }

    // bgcolor
    .bg-img-bgcolor-primary-0 {
        background-color: rgba($CTA, 0);
    }
    .bg-img-bgcolor-primary-55 {
        background-color: rgba($CTA, .55);
    }

    // position
    @for $i from 1 through 100 {
        .bg-img-top-#{$i} {
            top: calc(1% * #{$i}) !important;
        }
    }
    @for $i from 1 through 100 {
        .bg-img-bottom-n#{$i} {
            bottom: calc(-1% * #{$i}) !important;
        }
    }

    // opactiy
    .bg-img-opacity-0 {
        opacity: 0;
    }
    // transition
    .bg-img-transition-bgcolor {
        @include transition(background-color, $basicDuration);
    }

    &:hover {

        // size
        @for $i from 100 through 200 {
            .bg-img-size-hover-#{$i} {
                width: calc(1% * #{$i}) !important;
                margin-left: calc(50% - (1% * #{$i} / 2));
                margin-right: calc(50% - (1% * #{$i} / 2));
            }
        }

        // bgcolor
        .bg-img-bgcolor-hover-primary-55 {
            background-color: rgba($CTA, .55);
        }
        .bg-img-bgcolor-hover-dark-primary-75 {
            background-color: rgba($darkCTA, .75);
        }

        // position
        .bg-img-top-hover-0 {
            top: 0 !important;
        }
        .bg-img-bottom-hover-0 {
            bottom: 0 !important;
        }

        // opacity
        .bg-img-opacity-hover-1 {
            opacity: 1;
        }

        // transition
        .bg-img-transition-bgcolor {
            @include transition(background-color, $basicDuration);
        }

        // delay
        .bg-img-delay-hover-basic {
            @include delay($basicDuration);
        }
    }
}

// LOADER

.loader {
	position: fixed;
	top: 55px;
	bottom: 0;
	left: 55px;
	right: 0;
	z-index: 1500;

	.overlay {
		.loaderContainer {
			width: 406px;
			height: 308px;
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			overflow: hidden;
			border-radius: $basicRadius;
			//@include highestBoxShadow();

			> * {
				display: block;
				position: absolute;
				overflow: hidden;

				span {
					display: block;
					height: 100%;
				}

				&.sun {
					width: 55px;
					height: 55px;
					border-radius: 50%;
					top: auto;
					bottom: auto;
					left: 0;
					right: 0;
					margin: auto;
					overflow: hidden;
					box-shadow: 0 0 33px red;

					span {
						background-color: red;
					}
				}
				&.middleMountain {
					width: 165px;
					height: 246px;
					bottom: -123px;
					left: 0;

					.element {
						transform: scale(.74, 1.1);

						span {
							background-color: green;
							transform: rotate(45deg);
							position: absolute;
							width: 165px;
							height: 165px;
							top: 45px;
						}
					}
				}
				&.bigMountain {
					width: 222px;
					height: 332px;
					bottom: -166px;
					left: 37px;

					.element {
						transform: scale(.705, 1.05);

						span {
							background-color: blue;
							transform: rotate(45deg);
							position: absolute;
							width: 222px;
							height: 222px;
							top: 55px;
							left: -1px;
						}
					}
				}
				&.littleMountain {
					width: 176px;
					height: 226px;
					bottom: -113px;
					right: 0;

					.element {
						transform: scale(.81, 1.03);

						span {
							background-color: yellow;
							transform: rotate(45deg);
							position: absolute;
							width: 176px;
							height: 176px;
							top: 41px;
							left: -1px;
						}
					}
				}
			}

			img {
				opacity: .5;
				max-width: none;
				max-height: none;

				&.mid {
					width: 463px;
					bottom: -116px;
					left: -226px;
				}
				&.big {
					width: 418px;
					bottom: -54px;
					left: -116px;
				}
				&.little {
					width: 375px;
					bottom: -67px;
					right: -144px;
				}
			}
		}
	}
}

// STATS

.legend {
	padding: 0 0 11px;
	font-size: 0;

	li {
		display: inline-block;
		margin: 0 11px 11px 0;
		vertical-align: top;

		label {
			width: auto;
			padding: 0 0 6px;
		}
		i {
			display: block;
			height: 8px;
			border-radius: $smallestRadius;
			@include lowestBoxShadow();
		}

		&:last-child {
			margin: 0 0 11px;
		}
	}
}

// IFRAME

.iframe {
	position: fixed;
	top: 55px;
	bottom: 0;
	left: 55px;
	right: 0;
	overflow: hidden; // TODO TVO : Si soucis, overflow-y: auto; + ajouter le z-index quand contenu.
}

// PASSWORD QUALITY | TODO TVO : Merge avec la 2ème partie !

input {
	&.withPasswordQuality {
		border-radius: $smallestRadius $smallestRadius 0 0;
	}
}

.passwordQuality {
	display: inline-block;
	width: 0;
	height: 16px;
	overflow: hidden;
	position: relative;
	padding: 0;
	font-size: 0;
	border-radius: 0 0 $smallestRadius $smallestRadius;
	@include widthTransition($basicDuration);

	li {
		display: inline-block;
		width: 0;
		position: absolute;
		overflow: hidden;
		text-align: center;
		background-color: $lightGrey;
		@include allTransition($basicDuration);

		span {
			padding: 2px 0;
			text-align: center;
			color: $white;
			font-size: .75rem;
		}

		&.badElement {
			left: 0;
		}
		&.midElement {
			left: 50%;
		}
		&.goodElement {
			left: 50%;
		}
	}

	&.badQuality {
		width: 25%;

		li {
			&.badElement {
				width: 100%;
				background-color: $basicRed;
				@include boxInset(-22px 0 44px $darkRed);
			}
		}
	}
	&.midQuality {
		width: 50%;

		li {
			width: 50%;

			&.midElement {
				background-color: $basicOrange;
				@include boxInset(-33px 0 33px $darkOrange);
				z-index: 10;
			}
		}
	}
	&.goodQuality {
		width: 100%;

		li {
			width: 25%;

			&.midElement {
				left: 25%;
				background-color: $basicGrey;
			}
			&.goodElement {
				width: 50%;
				background-color: $basicGreen;
				@include widthTransition($basicDuration);
				@include boxInset(-44px 0 44px $darkGreen);
				z-index: 10;
			}
		}
	}
}

// UPLOAD

.upload {
	.preview {
		img {
			margin: 26px 0 0;
			vertical-align: bottom;
			border-radius: $smallRadius;
		}
	}
}
.defaultCard {
	&.upload {
		.catLine {
			> * {
				padding-top: 11px;
			}
		}
		.preview {
			img {
				margin: 0;
			}
		}
	}
}

// UI-CROPPER

#cropperContent {
	.previewCropped {
		height: fit-content;
		margin: auto;
		padding: 0;
		position: absolute;
		top: 11px;
		bottom: 66px;

		img {
			max-height: 330px;
			border-radius: $smallRadius;
			@include lowestBoxShadow();
		}
	}
}

// SEARCH

/*.search {
	input {
		width: 28px;
		height: 28px;
		padding: 0;
		border: none;
		opacity: 0;
		z-index: 10;
		position: absolute;
		top: -4px;
		left: calc(100% - 28px);
		cursor: pointer;
		border-radius: $basicRadius;
		font-size: $bigFontSize-1;
		background-color: $white;
		@include noneBoxShadow();
		@include allTransition($longDuration);

		&:hover {
			& + .icon {
				//@include higherBoxShadow();
				@include allTransition($longDuration);

				i {
					color: $darkCTA;
					@include colorTransition($basicDuration);
				}
			}
		}
		&:focus {
			width: 100%;
			height: 48px;
			outline: none;
			top: -13px;
			left: 0;
			margin: 0;
			padding: 11px 11px 11px 44px;
			opacity: 1;
			z-index: 0;
			//@include highestBoxShadow();

			& + .icon {
				width: 44px;
				height: 20px;
				margin: 2px 0 0;
				padding: 0;
				top: 0;
				left: 0;
				background: none;
				@include noneBoxShadow();
			}
		}
	}

	.icon {
		width: 28px;
		height: 28px;
		padding: 4px;
		position: absolute;
		top: -4px;
		bottom: 0;
		left: calc(100% - 28px);
		overflow: visible;
		background-color: $white;
		border-radius: $smallestRadius;
		@include allTransition($longDuration);

		i {
			width: 20px;
			height: 20px;
			padding: 0;
			font-size: $bigFontSize-1;
			@include noneBoxShadow();
			@include colorTransition($basicDuration);
		}

		&:hover {
			@include allTransition($longDuration);

			i {
				color: $darkCTA;
			}
		}
	}
}*/

// MULTI LANGUAGES

.defaultCard,
.popupContent {
	&.multiLanguages {
		h2 {
			position: relative;

			span {
				font-size: $basicFontSize;
			}

			.flags {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto 22px;
				height: 16px;

				.flag {
					display: inline-block;
					width: 20px;
					height: 16px;
					margin: 0 6px 0 0;
					cursor: pointer;
					@include lowestBoxShadow();
					@include boxShadowTransition($basicDuration);

					&.disabled {
						filter: grayscale(100%);
						opacity: .5;
						@include noneBoxShadow();

						&:hover {
							@include noneBoxShadow();
						}
					}

					&:hover {
						//@include higherBoxShadow();
						@include boxShadowTransition($basicDuration);
					}

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
}

// ADDRESS

.address {
	text-align: center;

	p {
		color: $basicGrey;

		* {
			color: $basicGrey;
		}

		&.street {
			font-size: $basicFontSize;
			line-height: 1.15rem;
		}
	}
}

// CONTACT

.contact {
	h3 {
		padding-bottom: 16px;
	}
}

// SIDE COL

.sideCol {
	.sideHeader {
		display: inline-block;
		width: 100%;
		height: auto;
		position: relative;
		padding-bottom: 11px;
		text-align: center;
		@include basicBorder(0 0 1px);

		h1 {
			display: inline-block;
			width: 100%;
			margin: 0;
			padding: 6px 11px 0 11px;
			text-align: center;
		}

		.sideHeaderCover {
			position: absolute;
		}

		.sideHeaderImgProfil,
		.sideHeaderIcon {
			display: inline-block;
			height: 125px;
			width: 125px;
			margin: 22px auto 11px;
			vertical-align: top;
			position: relative;

			img {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: $biggestRadius;
				@include basicBoxShadow();
			}

			i {
				display: inline-block;
				width: 65px;
				height: 65px;
				padding: 30px;
				border-radius: $biggestRadius;
				color: $lightGrey;
				@include basicBoxShadow();
			}
		}

		.sideHeaderName {
			position: relative;
		}

		.sideHeaderButtons {
			display: inline-block;
			width: 28px;
			height: auto;
			margin: 11px;
			position: absolute;
			top: 0;
			right: 0;
			overflow: hidden;
			vertical-align: top;
			border-radius: $smallRadius;
			@include basicBoxShadow();

			.sideHeaderButton {
				display: inline-block;
				width: 28px;
				height: 28px;
				position: relative;
				vertical-align: top;
				background-color: $white;
				@include basicBorder(1px 0 0 0);
				//@include buttonInset();
				@include allTransition($basicDuration);

				i {
					width: 16px;
					height: 16px;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					font-size: $basicFontSize;
					color: $CTA;
					@include colorTransition($basicDuration);

					&.fa-angle-left,
					&.fa-angle-right {
						font-size: 1.6rem;
						line-height: 1rem;
					}
				}

				&.red {
					@include boxInset(-12px 0 28px rgba($darkRed, $alpha0));

					i {
						color: $basicRed;
					}

					&:hover {
						background-color: $basicRed;
						@include boxInset(-12px 0 28px $darkRed);
					}
				}

				&:first-child {
					border-width: 0;
				}

                /*
				&:hover {
					background-color: $lightCTA;
					//@include buttonInsetHover();
					@include allTransition($basicDuration);

					i {
						color: $white;
						@include colorTransition($basicDuration);
					}
				}
                */
			}
		}
	}

	.sideElement {
		display: inline-block;
		width: 100%;
		@include basicBorder(0 0 1px);

		h2 {
			padding: 16px 11px;
			color: $lightGrey;
			position: relative;

			i {
				padding-right: 11px;
				color: $lightGrey;

				&.switchElement {
					width: 48px;
					height: 48px;
					position: absolute;
					top: 0;
					bottom: auto;
					left: auto;
					right: 0;
					padding: 11px;
					text-align: center;
					vertical-align: top;
					cursor: pointer;
					font-size: 1.6rem;
					color: $CTA;
					@include colorTransition($basicDuration);

					&:hover {
						color: $darkCTA;
						@include colorTransition($basicDuration);
					}
				}
			}
		}

		> div {
			&.reduced {
				height: 0;
				@include transition(height, $basicDuration);
			}

			&.opened {
				@include transition(height, $basicDuration);
			}
		}

		.sideInfos {
			vertical-align: top;
			overflow: hidden;
			@include transition(opacity, .35s);

			ul {
				li {
					display: inline-block;
					width: 100%;
					height: auto;
					padding: 11px;
					position: relative;
					text-align: left;
					font-size: 0;
					line-height: 1rem;
					border-color: rgba($darkestGrey, $alpha10);
					@include basicBorder(1px 0 0);

					label,
					a {
						display: inline-block;
						vertical-align: top;
						text-align: right;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						&:first-child {
							width: 66px;
							height: 16px;
							padding: 0 11px 0 0;
							text-align: left;
							color: $basicGrey;

							& + span,
							& + a {
								display: inline-block;
								width: calc(100% - 66px);
								text-align: right;
								vertical-align: top;
							}
						}
					}

					&.address {
						label {
							width: 77px;

							& + span {
								width: calc(100% - 77px);

								& + span {
									display: inline-block;
									width: 100%;
									padding-top: 11px;
									text-align: right;
									vertical-align: top;

									& + span {
										display: inline-block;
										width: 100%;
										padding-top: 11px;
										text-align: right;
										vertical-align: top;
									}
								}
							}
						}
					}

					&.biggerElement {
						label {
							width: 88px;

							& + span {
								width: calc(100% - 88px);
							}
						}
					}
				}

				&:first-child {
					border: none;
				}

			}

			&.opened {
				//Dans les fichiers spécifiques
			}
		}

		.bubble {
			padding: 0 11px;
			right: 0;
			text-align: right;

			.graphicElement {
				top: -5px;
				left: auto;
				right: 18px;
			}
		}

		&:last-child {
			border: none;
		}
	}
}

// PASSWORD QUALITY | TODO TVO : Merge avec la 1ère partie !

.passwordQuality {
	display: inline-block;
	width: 0;
	height: 16px;
	overflow: hidden;
	position: relative;

	li {
		display: inline-block;
		width: 0;
		position: absolute;
		overflow: hidden;

		&.badElement {
			left: 0;
		}

		&.goodElement {
			left: 50%;
		}
	}

	span {
		display: inline-block;
		width: 100%;
		padding: 2px 0;
		text-align: center;
	}

	&.badQuality {
		width: 25%;

		li {
			&.badElement {
				width: 100%;
			}

		}
	}

	&.midQuality {
		width: 50%;

		li {
			&.badElement {
				width: 50%;
			}
			&.midElement {
				width: 50%;
			}
		}
	}

	&.goodQuality {
		width: 100%;

		li {
			&.badElement {
				width: 25%;
			}
			&.midElement {
				width: 25%;
				left: 25%;
			}
			&.goodElement {
				width: 50%;
			}
		}
	}
}

// BUBBLES

.bubble {
	position: absolute;
	top: 0;
	text-align: center;
	opacity: 0;
	@include allTransition($basicDuration);

	label {
		display: inline-block;
		height: auto;
		padding: 6px 11px;
		overflow: hidden;
		position: relative;
		word-break: break-all;
		z-index: 10;
		border-radius: $smallRadius;
		background-color: $white;
		@include basicBoxShadow();
	}

	.graphicElement {
		display: block;
		width: 11px;
		height: 11px;
		position: absolute;
		top: -5px;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 0;
		background-color: $white;
		@include transform(rotate(45deg));
		//@include boxShadow(3px 3px 6px rgba($darkestGrey, .16), 3px 3px 6px rgba($darkestGrey, .23));

		&:last-child {
			z-index: 20;
			@include noneBoxShadow();
		}
	}
}

*:hover > .bubble {
	opacity: 1;
	top: 100%;
	@include allTransition($basicDuration);
	//@include delay($longDuration);
}

// VISIBILITY T/R

.visibilityTransmitter {
	.visibilityReceiver {
		opacity: 0;
		visibility: hidden;
		@include transition(all, $basicDuration);
	}

	& + .visibilityReceiver {
		opacity: 0;
		visibility: hidden;
		@include transition(all, $basicDuration);
	}

	&:hover {
		.visibilityReceiver {
			opacity: 1;
			visibility: visible;
			@include transition(all, $basicDuration);
			@include delay($shortDuration);
		}

		& + .visibilityReceiver {
			opacity: 1;
			visibility: visible;
			@include transition(all, $basicDuration);
			@include delay($shortDuration);
		}
	}
}
.visibilityReceiver {
	.graphicElement {
		&:first-child {
			@include transform(rotate(45deg));
		}
	}
}

// IMG CUSTOM

.imgCustom {
	height: 33px;
	position: fixed;
	bottom: 66px;
	left: 22px;

	@media screen and (min-width: $lg) {
		bottom: 11px;
		left: 77px;
	}
}

// ELLIPSIS

.ellipsis {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	// client/.../popups/archive.html
	&.mw-deleteName-custom {
		display: inline-block;
		max-width: calc(100% - 221px);
		position: relative;
		top: -1px;
		vertical-align: middle;
	}

	// client/.../popups/disableEnablePopup.html
	&.mw-archiveName-custom {
		display: inline-block;
		max-width: calc(100% - 209px);
		position: relative;
		top: -1px;
		vertical-align: middle;
	}
	&.mw-unarchiveName-custom {
		display: inline-block;
		max-width: calc(100% - 213px);
		position: relative;
		top: -1px;
		vertical-align: middle;
	}
}

// RESIZE

.resize-none {
	resize: none !important;
}

// CAT-FILTERS

.cat-filters {
    input[type="radio"] {
        cursor: pointer;

        & + label {
            color: $darkCTA;
        }

        &:hover + label {
            color: $CTA;
        }

        &:checked + label {
            color: $CTA;
        }
    }
}

/*--------------*/

// IMPORT

@import "actions.css";
@import "nav.css";
@import "header.css";
@import "footer.css";
//@import "breadcrumb.css";
@import "buttons.css";
//@import "calendars.css";
@import "counters.css";
//@import "datepicker.css";
@import "empty.css";
//@import "eventCards.css";
//@import "fluxConnector.css";
@import "icons.css";
//@import "iframes.css";
//@import "markdown.css";
//@import "notices.css";
//@import "noAccess.css";
//@import "notifications.css";
//@import "paginations.css";
//@import "plannings.css";
//@import "previewCards.css";
@import "progressObject.css";

//@import "questionCards.css";
//@import "questionList.css";

@import "radioTilings.css";
@import "searchs.css";
@import "seeFiles.css";
@import "seeMore.css";
//@import "sideObject.css";
//@import "smooths.css";
//@import "subSections.css";
@import "tags.css";
//@import "timers.css";
@import "transitions.css";

//@import "datas/dataElements.css";

//@import "lists/canvasList.css";
//@import "lists/categoriesList.css";
//@import "lists/contactsList.css";
//@import "lists/eventsList.css";
//@import "lists/filesLists.css";
//@import "lists/parcoursList.css";
//@import "lists/participantsLists.css";
//@import "lists/rolesList.css";
//@import "lists/selectLists.css";
//@import "lists/subList.css";
//@import "lists/suggestionsList.css";
//@import "lists/tasksList.css";

//@import "video/visioEnd.css";
//@import "video/visioFixedElements.css";
//@import "video/visioVideo.css";

//@import '../../../popup/css/popup.css';
//@import '../../../notifier/css/notifier.css';
//@import '../../../selectBox/css/selectbox.css';

// IMPORT CVA

//@import "popupMarkdown.css";

// IMPORT SLO

//@import "calendar-slo.css";
