@charset "UTF-8";
/*@mixin boxShadow($dataFrom, $dataTo) {
	-webkit-box-shadow: $dataFrom, $dataTo !important;
	-moz-box-shadow: $dataFrom, $dataTo !important;
	-ms-box-shadow: $dataFrom, $dataTo !important;
	-o-box-shadow: $dataFrom, $dataTo !important;
	box-shadow: $dataFrom, $dataTo !important;
}*/
@keyframes pulsar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*@keyframes echo-active {
	0% {
		@include boxShadow(0 0 0 rgba(255, 136, 27, 0), 0 0 0 rgba(255, 136, 27, 0));
	}
	25% {
		@include boxShadow(0 0 11px rgba(255, 136, 27, 1), 0 0 8px rgba(255, 136, 27, .5));
	}
	50% {
		@include boxShadow(0 0 22px rgba(255, 136, 27, .5), 0 0 11px rgba(255, 136, 27, .3));
	}
	100% {
		@include boxShadow(0 0 99px rgba(255, 136, 27, 0), 0 0 55px rgba(255, 136, 27, 0));
	}
}*/
@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes roll-coordinated-reverse {
  0% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
  }
  100% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(-1800deg);
    -moz-transform: rotate(-1800deg);
    -ms-transform: rotate(-1800deg);
    -o-transform: rotate(-1800deg);
    transform: rotate(-1800deg);
  }
}
/* VARIABLES */
/*- ONLY FOR THIS PROJECT -*/
/*- END | ONLY FOR THIS PROJECT -*/
/*56pt / 84px*/
/*28pt / 37px*/
/*22pt / 30px*/
/*
$shortFontSize-1: .875rem;
$shortFontSize-2: .75rem;
$shortFontSize-3: .688rem;
*/
/* --------------------------- */
/* MIXINS */
/*@mixin highestBoxShadow() {
	@include boxShadow(0 19px 38px rgba($darkestGrey, $alpha30), 0 15px 12px rgba($darkestGrey, .22));
}
*/
/*
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin higherBoxShadow-45() {
	@include boxShadow(14px 14px 28px rgba($darkestGrey, .25), 10px 10px 10px rgba($darkestGrey, .22));
}
@mixin higherBoxShadow-315() {
	@include boxShadow(-14px 14px 28px rgba($darkestGrey, .25), -10px 10px 10px rgba($darkestGrey, .22));
}*/
/*@mixin highBoxShadow() {
	@include boxShadow(0 1rem 3rem rgba(0, 0, 0, .175), 0 1rem 3rem rgba(0, 0, 0, .175));
}

@mixin basicBoxShadow() {
	@include boxShadow(0 .5rem 1rem rgba(0, 0, 0, .15), 0 .5rem 1rem rgba(0, 0, 0, .15));
}

@mixin lowestBoxShadow() {
	@include boxShadow(0 .125rem .25rem rgba(0, 0, 0, .075), 0 .125rem .25rem rgba(0, 0, 0, .075));
}
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin lowestBoxShadow-45() {
	@include boxShadow(.125rem .125rem .25rem rgba(0, 0, 0, .075), .125rem .125rem .25rem rgba(0, 0, 0, .075));
}
@mixin lowestBoxShadow-315() {
	@include boxShadow(-.125rem .125rem .25rem rgba(0, 0, 0, .075), -.125rem .125rem .25rem rgba(0, 0, 0, .075));
}*/
/*@mixin lowestBoxShadow-inset() {
	@include boxInset(0 -1px 3px rgba($darkestGrey, .12), 0 -1px 2px rgba($darkestGrey, .24));
}
*/
/* EXTENDS */
/* SEARCHS */
.toolboxContainer {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.toolboxContainer .actions {
  top: 11px;
  right: 11px;
  position: absolute;
}
.toolboxContainer .toolboxContent {
  max-height: calc(100% - 55px);
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 55px;
  right: 0;
  overflow-y: auto;
}
.toolboxContainer .toolboxContent .defaultCard {
  padding: 11px 0;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}
.toolboxContainer .toolboxContent .defaultCard .headElement .imgProfil img {
  overflow: hidden;
  border-radius: 50%;
  /*@include lowestBoxShadow();
  @include boxShadowTransition($basicDuration);
  @include delay($basicDuration);*/
}
.toolboxContainer .toolboxContent .defaultCard .headElement .name h4 {
  color: #4ae0c7;
  font-size: 1rem;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
.toolboxContainer .toolboxContent .defaultCard .headElement .dataCompletion {
  text-align: right;
  font-size: 0;
}
.toolboxContainer .toolboxContent .defaultCard .contentElement .generalData p i {
  padding: 0 11px 0 0;
  text-align: center;
  color: #bdc3c3;
}
.toolboxContainer .toolboxContent .defaultCard .footerElement {
  text-align: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(5, 0, 50, 0.1);
}
.toolboxContainer .toolboxContent .defaultCard .footerElement .nextEvent,
.toolboxContainer .toolboxContent .defaultCard .footerElement .currentStep {
  text-align: left;
}
.toolboxContainer .toolboxContent .defaultCard .footerElement .nextEvent small,
.toolboxContainer .toolboxContent .defaultCard .footerElement .currentStep small {
  color: #bdc3c3;
}
.toolboxContainer .toolboxContent .defaultCard .footerElement .nextEvent p,
.toolboxContainer .toolboxContent .defaultCard .footerElement .currentStep p {
  color: #ff881b;
}
.toolboxContainer .toolboxContent .defaultCard .footerElement .nextEvent p.missInfo,
.toolboxContainer .toolboxContent .defaultCard .footerElement .currentStep p.missInfo {
  color: #bdc3c3;
}
.toolboxContainer .toolboxContent .defaultCard .footerElement .currentStep {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: rgba(5, 0, 50, 0.1);
}
.toolboxContainer .toolboxContent .defaultCard .footerElement .benefStatus p {
  color: #ff881b;
}
.toolboxContainer .toolboxContent .defaultCard:hover {
  -webkit-box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  -moz-box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  -ms-box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  -o-box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}
.toolboxContainer .toolboxContent .defaultCard:hover .headElement {
  /*.imgProfil {
  	img {
  		@include higherBoxShadow();
  		@include boxShadowTransition($basicDuration);
  		@include delay($basicDuration);
  	}
  }*/
}
.toolboxContainer .toolboxContent .defaultCard:hover .headElement .name h4 {
  color: #487f89;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
.toolboxContainer .toolboxContent .defaultCard:hover .headElement .dataCompletion .completion {
  -webkit-box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  -moz-box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  -ms-box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  -o-box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  box-shadow: 0 14px 28px rgba(5, 0, 50, 0.25) !important;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.toolboxContainer .toolboxContent .defaultCard:hover.noResult {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -ms-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.toolboxContainer .toolboxContent ul .noResult {
  display: block;
  width: max-content;
  height: max-content;
  margin: auto;
  padding: 22px;
  position: absolute;
  top: 44px;
  bottom: 44px;
  left: 22px;
  right: 22px;
  text-align: center;
  font-size: 0.975rem;
}
.toolboxContainer .toolboxContent ul .noResult i {
  padding: 0 11px 0 0;
  color: rgba(5, 0, 50, 0.3);
}

/*# sourceMappingURL=searchs.css.map */
